@tailwind base;
@tailwind components;
@tailwind utilities;

#openAi666666 {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
  min-width: 40rem;
  padding-bottom: 1rem;
}


::-webkit-scrollbar {
    display: none;
}